<table mat-table [dataSource]="repositories">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="html_url">
    <th mat-header-cell *matHeaderCellDef>Url</th>
    <td mat-cell *matCellDef="let element">
      <a [href]="element.html_url">{{ element.html_url }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <ng-container matColumnDef="stargazers_count">
    <th mat-header-cell *matHeaderCellDef>Stars</th>
    <td mat-cell *matCellDef="let element">{{ element.stargazers_count }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="onButtonClick(element)">
        {{ element.isStarred ? 'Remove from stars' : 'Add to stars' }}
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
