<div class="repository-list">
  <div class="row header-row">
    <div>ID</div>
    <div>Name</div>
    <div>Url</div>
    <div>Description</div>
    <div>Stars count</div>
    <div>Actions</div>
  </div>

  <div *ngFor="let repository of repositories; trackBy: trackByRepositoryId" class="row">
    <div>{{ repository.id }}</div>
    <div>{{ repository.name }}</div>
    <div>
      <a [href]="repository.html_url">{{ repository.html_url }}</a>
    </div>
    <div>{{ repository.description }}</div>
    <div>{{ repository.stargazers_count }}</div>
    <div>
      <button mat-raised-button color="primary" (click)="onButtonClick(repository)">
        {{ repository.isStarred ? 'Remove from stars' : 'Add to stars' }}
      </button>
    </div>
  </div>
</div>
