<app-layout title="All repositories" linkUrl="/stars" linkLabel="Starred repositories">
  <ng-container *ngIf="!isLoading() && !hasError()">
    <app-repository-list
      [repositories]="repositories()"
      (onAddToStars)="storeService.addToStarred($event)"
      (onRemoveFromStars)="storeService.removeFromStarred($event)"
    ></app-repository-list>
  </ng-container>


  <ng-container *ngIf="isLoading() && !hasError()">
    <div>Loading...</div>
  </ng-container>


  <ng-container *ngIf="hasError()">
    <div>Error</div>
  </ng-container>
</app-layout>
